.navbar {
    background-color: #34c759;
    color: #fff;
    padding: 1rem 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .nav-link {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
    color: #fff;
    background-color: #34c759;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.navbar .dropdown-menu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.navbar .dropdown-item {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: color 0.2s ease-in-out;
}

.navbar .dropdown-item:hover {
    color: #34c759;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.navbar.scrolled {
    background-color: #fff;
    color: #34c759;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/File/image/main page.jpg') no-repeat center center/cover;
    padding: 6rem 1rem;
    text-align: center;
    color: white;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero .cta-btn {
    background-color: #34c759;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.25rem;
    text-decoration: none;
}